h1{
  padding-bottom: 50px;
  text-align: center;
}

.instructions{
  padding-bottom: 10px;
  padding-top: 30px;
}

#grey{
  margin-top: 70px;
  padding-right: 10px;
  margin-bottom:120;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: lightgrey;
}

#menu{
  margin-bottom: 5px;
  padding-top: 25px;
  font-size: 1rem;
  text-align: center;
}

.menulinks1{
  padding-right: 7px;
  margin-bottom: 20px;
}



.menulinks{
  margin-bottom: 20px;
}

h3{
  font-size:1.5rem;
}

h2{
  margin-right: 240px;
  margin-top:10px;
  text-align: center;
  margin-bottom: 30px;
}


#div{
  font-size: 1.15rem;
}

a{
  color:black;

}

body{

  margin:25px;
}

footer{
  padding:10px;
  background-color: lightgrey;
}

body{

}



img{
  padding-top:0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-right: 100px;
}

p{
  font-size: 1.15rem;
  margin-bottom:5px;
  padding-top: 0;
  margin-top: 0;
}
